<!DOCTYPE html>
<html>
<head>
	<title>Quiz App</title>
</head>
<body>

<div id="quiz" style="text-align:center" >
<br><br><br><br><br>

<div align="center" class="header1">
<div class="row" >

<div class="col-md-20 col-lg-20 col-sm-20 col-xs-20" style="margin-top:1%">
<table width="95%"  >
	
<tr>  

<td width="50"  align="center"><h1>{{quiz.quiztitle}}</h1>
<hr></td>
</tr>
<tr >
<td width="50" >
<br><br>	
  <h1> <b> Instructions : </b> </h1>
</td>	

</tr>
<tr >
<td width="50"  >
<br><br>
<span math="{{quiz.instruction}}"></span>
  
  <br><br>
</td>	

</tr>
<tr >
<td width="50"  >
<div style="text-align:left font-size:medium">
  <span >  &nbsp; &nbsp; &nbsp;<b> I Understand : </b> </span>
<input type="checkbox" id="checkme" name="checkbox"  >

	

<a style="float:right"  href='' ng-click="proceedButton()" > <span class="icon icon-PROCEED  " style="font-size:30px"  ></span> </a>

</div>
<br><br>
</td>	

</tr>
</table>
</div>


</div>
</div>
</div>

<script type="text/javascript">



</script>

</body>
</html>